<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTykzeMt1JIR2i0KSm3HZLZhZnKiAT8mn4_xA&usqp=CAU">
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= current_user.username %></h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>
        <a class="log-out" href="<%= destroy_user_session_path%>" data-method="delete">
        <button>Log out</button>
        </a>

      </div>
      <ul class="posts">
        <li><span>0</span> posts</li>
        <li><span>0</span> followers</li>
        <li><span>0</span> following</li>
      </ul>
      <h2 class="name"><%= current_user.name %></h2>
      <%=link_to current_user.website, current_user.website, class:  'website' %>
    </div>
    </div>
    <div class="user-tabs">
      <a class="tab active" href="">
        <i class="fa fa-th"></i>
        POSTS
      </a>
      <a class="tab" href="">
        <i class="fa fa-tv"></i>
        IGTV
      </a>
      <a class="tab" href="">
        <i class="fa fa-bookmark"></i>
        SAVED
      </a>
      <a class="tab" href="">
        <i class="fa fa-tag"></i>
        TAGGED
      </a>
    </div>
  </div>
  <div class="user-images">
    <div class="wrapper">
      <img src="https://www.pixsy.com/wp-content/uploads/2021/04/ben-sweet-2LowviVHZ-E-unsplash-1.jpeg">
    </div>
    <div class="wrapper">
      <img src="https://images.ctfassets.net/hrltx12pl8hq/7yQR5uJhwEkRfjwMFJ7bUK/dc52a0913e8ff8b5c276177890eb0129/offset_comp_772626-opt.jpg?fit=fill&w=800&h=300">
    </div>
    <div class="wrapper">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRti8zaBX3tyXBF9NJ1yqpZjD6Ivd87ufQs--a63UO6DmGSsErY43fyIyFi17tXEPxgXTk&usqp=CAU">
    </div>
  </div>
</div>
