<section class="post">
  <div class="user">
    <div class="avatar">
      <% if post.user.avatar.attached? %>
        <%= link_to user_path(post.user) do %>
        <%= image_tag post.user.avatar %>
        <% end %>
      <% end %>
    </div>
    <%= link_to post.user.username, user_path(post.user), class: 'username' %>
  </div>
  <%= image_tag post.image, class: 'main-image' %>
  <div class="description">
    <% post.description.to_s.split(' ').each do |word| %>
      <% if word.start_with?('#') %>
        <%= link_to word, search_index_path(query: word) %>
      <% else %>
        <%= word %>
      <% end %>
    <% end %>
  </div>
  <% if current_user.present? && current_user != @user %>
    <% user_like = post.likes.find { |like| like.user_id == current_user.id} %>
    <% if user_like %>
      <%= button_to 'Unlike', post_like_path(post, user_like), method: :delete %>
    <% else %>
      <%= button_to 'Like', post_likes_path(post), method: :post %>
    <% end %>
  <% end %>
  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
</section>